
@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="jumbotron">
        <h2>Learn, Share and Build </h2>
        <h4>With this application you can learn, ask your queries, share your solutions and build the knowledge chain across. </h4>
        <p>Come on, join developers Community</p>

    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header bg-light">Details </div>
            <div class="card-body">In this application you can post the technical question selecting the type of category. And login user 
            is eligible to provide the answer.Based on the solution is helpful or not, you can share your vote. It is also possible to check profile page to follow up on questions
            raised by you. Check out the application.</div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header bg-light">Features of StackOverflow </div>
            <div class="card-body">
                <ul>
                    <li>Site is user friendly</li>
                    <li>This Application is easy  to maintain</li>
                    <li>your passwords are safe and secure with us, noone can see it, not even owner of app.</li>

                </ul>
            </div>
        </div>
    </div>
</div>








<script>
    $("a[href='/home/About']").attr("id", "active");
</script>