
@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="jumbotron">
        <h2>Contact Us </h2>
        <h4>With this application you can learn, ask your queries, share your solutions and build the knowledge transfer chain across </h4>
        <p>Hope you would like to browse</p>

    </div>
</div>
<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark"><span class="text-light"> ABC Office </span> </div>
            <div class="card-body">xy, Hille Bl, Street, London, 56780 </div>
            <div class="card-footer">xyz@gmaill.com</div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark"><span class="text-light"> ABC Office</span>  </div>
            <div class="card-body">
                xyz, Hille Bl, Street, Brussel, 56781 <br />
                Email : xyza@gmaill.com
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/Contact']").attr("id", "active");
</script>
