@model List<stackOverflow.ViewModels.QuestionViewModel>
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h2>Stack Overflow Project</h2>
            <h4>This is sample stack overflow project, I have it developed in Asp.net MVC and sql database </h4>
            <p class="lead"> I hope you will like to browse throgh and provide feedback</p>
        </div>
        <div class=" row">
            <table class="table">
                @foreach (var item in Model)
                {
                    Html.RenderPartial("Question", item ); 
                }
            </table>
        </div>
    </div>
  
</div>    

